<div id="<%= dom_id hours_of_operation %>">
  <p>
    <strong>Restaurant:</strong>
    <%= hours_of_operation.restaurant_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= hours_of_operation.day %>
  </p>

  <p>
    <strong>Opentime1:</strong>
    <%= hours_of_operation.openTime1 %>
  </p>

  <p>
    <strong>Closetime1:</strong>
    <%= hours_of_operation.closeTime1 %>
  </p>

  <p>
    <strong>Opentime2:</strong>
    <%= hours_of_operation.openTime2 %>
  </p>

  <p>
    <strong>Closetime2:</strong>
    <%= hours_of_operation.closeTime2 %>
  </p>

</div>
