<div id="<%= dom_id menu_item %>">
  <p>
    <strong>Restaurant:</strong>
    <%= menu_item.restaurant_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= menu_item.type %>
  </p>

  <p>
    <strong>Types of food:</strong>
    <%= menu_item.types_of_food %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= menu_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu_item.description %>
  </p>

</div>
