<div id="<%= dom_id partner_order %>">
  <p>
    <strong>Partner:</strong>
    <%= partner_order.partner_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= partner_order.order_id %>
  </p>

  <p>
    <strong>Customer review:</strong>
    <%= partner_order.customer_review %>
  </p>

  <p>
    <strong>Partner status:</strong>
    <%= partner_order.partner_status %>
  </p>

  <p>
    <strong>Assigned at:</strong>
    <%= partner_order.assigned_at %>
  </p>

  <p>
    <strong>Responded at:</strong>
    <%= partner_order.responded_at %>
  </p>

  <p>
    <strong>Pickup at:</strong>
    <%= partner_order.pickup_at %>
  </p>

  <p>
    <strong>Delivered at:</strong>
    <%= partner_order.delivered_at %>
  </p>

  <p>
    <strong>Notification sent at:</strong>
    <%= partner_order.notification_sent_at %>
  </p>

  <p>
    <strong>Notification response due by:</strong>
    <%= partner_order.notification_response_due_by %>
  </p>

</div>
