<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= order.restaurant_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

  <p>
    <strong>Estimated wait time:</strong>
    <%= order.estimated_wait_time %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= order.delivery_address %>
  </p>

  <p>
    <strong>Delivery mileage:</strong>
    <%= order.delivery_mileage %>
  </p>

  <p>
    <strong>Cancelled:</strong>
    <%= order.cancelled %>
  </p>

  <p>
    <strong>Cancellation reason:</strong>
    <%= order.cancellation_reason %>
  </p>

  <p>
    <strong>Cancelled at:</strong>
    <%= order.cancelled_at %>
  </p>

  <p>
    <strong>Delivery fee:</strong>
    <%= order.delivery_fee %>
  </p>

  <p>
    <strong>Tip amount:</strong>
    <%= order.tip_amount %>
  </p>

  <p>
    <strong>Partner review:</strong>
    <%= order.partner_review %>
  </p>

</div>
