<p style="color: green"><%= notice %></p>

<%= render @menu_item_modifier %>

<div>
  <%= link_to "Edit this menu item modifier", edit_menu_item_modifier_path(@menu_item_modifier) %> |
  <%= link_to "Back to menu item modifiers", menu_item_modifiers_path %>

  <%= button_to "Destroy this menu item modifier", @menu_item_modifier, method: :delete %>
</div>
